// Colors
$black-gray: #323430;
$burgundy: #7b1f22;
$dark-olive: #666811;
$grape-green: #b3b001;
$light-gray: #ededed;
$dark-gray: #baadad;

// Typography & colors
$font: Montserrat, sans-serif;
$regular: 400;
$bold: 700;

@mixin h1($weight: 400) {
  color: $burgundy;
  font-size: 96px;
  font-weight: $weight;
}

@mixin h2-regular($color: #7b1f22) {
  color: $color;
  font-size: 50px;
  font-weight: 400;
}

@mixin h2-bold($color: #7b1f22) {
  color: $color;
  font-size: 50px;
  font-weight: 700;
}

@mixin h3-regular($color: #323430) {
  color: $color;
  font-size: 36px;
  font-weight: 400;
}

@mixin h3-bold {
  color: $burgundy;
  font-size: 36px;
  font-weight: 700;
}

@mixin h4($weight: 400) {
  color: black;
  font-size: 30px;
  font-weight: $weight;
}

@mixin text1-bold {
  color: $black-gray;
  font-size: 24px;
  font-weight: 700;
}

@mixin text1-regular($color: #323430) {
  color: $color;
  font-size: 18px;
  font-weight: 400;
}

@mixin text1-italic($color: #666811) {
  color: $color;
  font-size: 18px;
  font-weight: 400;
  font-style: italic;
}

@mixin text-bold($color: #323430) {
  color: $color;
  font-size: 18px;
  font-weight: 700;
}

@mixin text2-regular($color: #323430) {
  color: $color;
  font-size: 15px;
  font-weight: 400;
}

@mixin text2-bold {
  color: $black-gray;
  font-size: 15px;
  font-weight: 700;
}

@mixin text-shadow {
  text-shadow: 0px 0px 40px black;
}

// Image overlay
@mixin overlay {
  background: black;
}

// Placement
$main-padding: 30px;

// Elements
@mixin tag-filter($color: #ededed) {
  background-color: $color;
  border-radius: 20px;
  width: fit-content;
  height: fit-content;
  padding: 0.3em 0.6em;
  box-sizing: border-box;
}

@mixin tag-price-small {
  background-color: $dark-olive;
  border-radius: 20px;
  width: fit-content;
  height: fit-content;
  padding: 0.2em;
  box-sizing: border-box;
}

@mixin tag-price-big {
  background-color: $dark-olive;
  border-radius: 20px;
  width: fit-content;
  height: fit-content;
  padding: 0.7em 1em;
  box-sizing: border-box;
}

@mixin vegan-icon-small {
  border-radius: 50%;
  background-color: $grape-green;
  width: 38px;
  height: 38px;
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin vegan-icon-big {
  border-radius: 50%;
  background-color: $grape-green;
  width: 70px;
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin divider-horizontal {
  margin: 28px 30px;
  width: 158px;
  height: 1px;
  background-color: #c4c4c4;
}

@mixin divider-vertical {
  width: 1px;
  background-color: #c4c4c4;
}

@mixin button-filter {
  background-color: white;
  border-radius: 20px;
  width: fit-content;
  height: fit-content;
  padding: 0.3em 0.6em;
}
