// Typography & colors
$font: Montserrat, sans-serif;
$text-color: black;
$text-color-filters: #323430;
$background-color: #ededed;

@mixin h1($weight: 400) {
  color: #7b1f22;
  font-size: 96px;
  font-weight: $weight;
}

@mixin h2-regular($color: #7b1f22) {
  color: $color;
  font-size: 50px;
  font-weight: 400;
}

@mixin h2-bold($color: #7b1f22) {
  color: $color;
  font-size: 50px;
  font-weight: 700;
}

@mixin h3-regular($color: #323430) {
  color: $color;
  font-size: 36px;
  font-weight: 400;
}

@mixin h3-bold {
  color: #7b1f22;
  font-size: 36px;
  font-weight: 700;
}

@mixin h4($weight: 400) {
  color: $text-color;
  font-size: 30px;
  font-weight: $weight;
}

@mixin text1-bold {
  color: #323430;
  font-size: 24px;
  font-weight: 700;
}

@mixin text1-regular($color: #323430) {
  color: $color;
  font-size: 18px;
  font-weight: 400;
}

@mixin text-bold($color: #323430) {
  color: $text-color;
  font-size: 18px;
  font-weight: 700;
}

@mixin text2-regular($color: #323430) {
  color: $color;
  font-size: 15px;
  font-weight: 400;
}

@mixin text2-bold {
  color: #323430;
  font-size: 15px;
  font-weight: 700;
}

@mixin text-shadow {
  text-shadow: 0px 0px 40px black;
}

// Image overlay
@mixin overlay {
  background: black;
}

// Placement
$main-padding: 30px;

// Elements
@mixin tag-filter {
  background-color: white;
  border-radius: 20px;
  width: fit-content;
  height: fit-content;
  padding: 0.3em 0.6em;
}

@mixin tag-price {
  background-color: #666811;
  border-radius: 20px;
  width: fit-content;
  height: fit-content;
  padding: 0.2em;
}

@mixin divider-horizontal {
  margin: 28px 30px;
  width: 158px;
  height: 1px;
  background-color: #c4c4c4;
}

@mixin button-filter {
  background-color: white;
  border-radius: 20px;
  width: fit-content;
  height: fit-content;
  padding: 0.3em 0.6em;
}
