@import "./constants";

.footer-container {
  width: 100vw;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 0.1em;
  box-sizing: border-box;
}

.footer-copyright {
  text-align: center;
}
