@import "./constants";

// landing page hero image and text
.hero-container {
  position: relative;
  height: calc(100vh - 120px);
  width: 100vw;
  margin: 0em;
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  @include overlay;
}

.hero-img {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0.8;
}

.hero-text-bold {
  margin: 0;
  position: relative;
  z-index: 1;
  @include h2-bold($color: white);
  @include text-shadow;
}

.hero-text-regular {
  margin: 0;
  position: relative;
  z-index: 1;
  @include h2-regular($color: white);
  @include text-shadow;
}

.arrows-down-container {
  z-index: 1;
  position: absolute;
  bottom: 0.2em;
  left: calc(50vw - 62px / 2);
}

// landing page main content - the form container and bg image
.main-container {
  position: relative;
  height: 100vh;
  width: 100vw;
  margin: 0em;
  @include overlay;
}

.form-img {
  z-index: 0;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0.8;
  object-fit: cover;
}

.landing-title {
  @include h2-regular($color: white);
  box-sizing: border-box;
  margin: 0px;
  padding: 40px 30px;
  @include text-shadow;
}

.landing-title-bold {
  @include h2-bold($color: white);
  @include text-shadow;
}

// ON BIG SCREENS
@media screen and (min-width: 770px) {
  .main-container {
    display: flex;
    justify-content: space-between;
    background: none;
    width: 100%;
  }

  .main-content-container {
    width: 50%;
    box-sizing: border-box;
    padding-left: 30px;
    background-color: $light-gray;
  }

  .form-img {
    z-index: 0;
    position: static;
    width: 50%;
    opacity: 1;
  }

  .landing-title {
    @include h3-regular($color: black);
    text-shadow: none;
  }

  .landing-title-bold {
    @include h1;
    text-shadow: none;
  }
}
