@import "./constants";

.form-container {
  z-index: 2;
  position: relative;
  box-sizing: border-box;
  padding: 20px 17px;
  margin: 0px 15px;
  background-color: white;
  border-radius: 16px;
  max-height: 62vh;
  overflow-y: scroll;
}

.form-fieldset {
  @include hide-fieldset;
}

.fieldset-flex-container {
  @include hide-fieldset;
  padding: 0px;
  display: flex;
  justify-content: space-between;
}

.form-title {
  @include text-bold;
  margin-bottom: 0.5em;
}

.form-title-flex {
  @include text-bold;
  width: 50%;
}

.form-more-filters-container {
  margin-top: 20px;
}

.checkbox-label-container {
  display: flex;
  justify-content: space-between;
}

.radio-food {
  @include chips-form;
  width: 48%;
}

.radio-food-checked {
  @include chips-form-checked;
  width: 48%;
}

.checkbox-price {
  @include chips-form;
}

.checkbox-price-checked {
  @include chips-form-checked;
}

.checkbox-flavor {
  @include chips-form;
  width: 30%;
}

.checkbox-flavor-checked {
  @include chips-form-checked;
  width: 30%;
}

.checkbox-price input[type="checkbox"],
.checkbox-price-checked input[type="checkbox"],
.checkbox-flavor input[type="checkbox"],
.checkbox-flavor-checked input[type="checkbox"],
.radio-food input[type="radio"],
.radio-food-checked input[type="radio"] {
  @include hide-checkbox;
}

.button-more-filters {
  @include button-form;
  @include text-bold($burgundy);
}

.button-search {
  @include button-form($burgundy);
  @include text-bold(white);
}

.select {
  @include hide-select;
  border: none;
  border-radius: 20px;
  margin: 0;
  padding: 0.4em 1em;
  width: 50%;
  font-family: $font;
  @include text1-italic($black-gray);
  background-color: $light-gray;
}

.sr-only {
  @include sr-only;
}

.switch {
  // @include hide-select;
  width: 100px;
  height: 42px;
  border-radius: 48px;
  background-color: $light-gray;
  color: $light-gray;
  text-align: center;
  position: relative;
  display: inline-block;
}

.switch-checkbox {
  @include hide-checkbox;
}

.switch::after {
  content: "";
  width: 32px;
  height: 32px;
  position: absolute;
  top: 5px;
  left: 6px;
  border-radius: 50%;
  background-color: white;
  transition: all 0.2s;
  cursor: pointer;
  z-index: 1;
}

.switch-checkbox:checked + .switch::after {
  left: 63px;
}

.switch-checkbox:checked + .switch {
  background-color: $grape-green;
  color: $grape-green;
}
