@import "./constants";

// Customizing the Rating component from Material-UI
.MuiRating-root {
  font-size: 1.2em;
  justify-content: center;
  color: $burgundy;
}

.MuiRating-icon {
  margin: 0 -0.15em;
}

.MuiRating-iconEmpty {
  color: $light-gray;
}

// ON SMALL SCREENS

.main-container-sl {
  padding: 0;
}

// back link
.back-link-container {
  margin: 0 0 1em 2em;
  border: none;
  display: flex;
  align-items: center;
  @include text1-italic;
}

.back-link-icon {
  margin-right: 0.5em;
}

// wine header section: title and price
.single-wine-header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 0 2em 1.5em 2em;
  box-sizing: border-box;
}

.single-wine-title-bold {
  @include h3-bold;
  margin: 0;
}

.single-wine-title-regular {
  @include h3-regular;
}

.single-wine-price {
  @include tag-price-big;
  @include text-bold($color: white);
  color: white;
  align-self: flex-end;
}

// product image
.img-container-desktop {
  position: static;
}

.product-img-container {
  margin: 0 auto 1.5em auto;
  width: 85vw;
  height: 85vw;
  position: relative;
}

.product-img {
  object-fit: cover;
  width: 100%;
  height: 100%;
  border-radius: 20px;
  display: block;
}

// vegan icon styling
.vegan-icon-container-wd {
  @include vegan-icon-big;
  position: absolute;
  left: 16px;
  bottom: 16px;
}

.vegan-icon-wd {
  width: 34px;
  height: 34px;
}

// wine description
.wine-description-container {
  background-color: white;
  width: 100%;
  margin: 1em 1em;
  border-radius: 20px;
  padding: 1em;
  box-sizing: border-box;
  display: flex;
  position: relative;
}

.wine-description-column-left {
  width: 50%;
  padding-right: 0.5em;
  box-sizing: border-box;
}

.section-title-wd {
  @include text-bold;
  margin: 0;
}

.values-wd {
  @include tag-filter;
  @include text2-regular;
  margin: 0;
}

.values-list-wd {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
}

.values-list-items-wd {
  @include tag-filter;
  @include text2-regular;
  margin: 0.5em 0.5em 0 0;
}

.section-small-wd {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1em;
}

.divider-vertical {
  @include divider-vertical;
  position: absolute;
  left: 50%;
  top: 1em;
  bottom: 1em;
}

.wine-description-column-right {
  width: 50%;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.section-title-right-wd {
  @include text-bold;
  margin: 0 0 1em 0;
  text-align: center;
}

.scale-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 1.2em;
  width: 100%;
  @include text2-regular;
}

.scale-container > * {
  width: 33%;
}

.scale-text-right-aligned {
  text-align: right;
  margin-right: 0.5em;
}

.scale-text-left-aligned {
  margin-left: 0.5em;
}

// ON BIGGER SCREENS
@media screen and (min-width: 770px) {
  .main-container-sl {
    box-sizing: border-box;
    width: 45vw;
    margin-left: 48%;
  }

  .img-container-desktop {
    position: absolute;
    left: 60px;
    top: 170px;
  }

  .product-img-container {
    margin: 0;
    width: 43%;
    height: 70vh;
    position: relative;
  }

  .single-wine-header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 0;
    box-sizing: border-box;
  }

  .single-wine-title-bold {
    @include h2-bold;
    margin: 0;
  }

  .single-wine-title-regular {
    @include h2-regular($color: $black-gray);
  }

  .single-wine-price {
    @include tag-price-big;
    padding: 0.3em 0.5em;
    @include h3-regular($color: white);
    color: white;
    align-self: flex-end;
  }

  .wine-description-container {
    border-radius: 16px;
    margin: 1em 0;
    padding: 1em 0 1em 1em;
  }

  .wine-description-column-left {
    padding-right: 1em;
  }

  .section-title-wd {
    @include text1-bold;
  }

  .values-wd,
  .values-list-items-wd {
    @include text1-regular;
  }

  .section-title-right-wd {
    @include text1-bold;
    margin: 0;
  }

  .scale-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 1.2em;
    width: 100%;
    @include text1-regular;
  }

  .vegan-icon-container-wd {
    width: 89px;
    height: 89px;
    left: 22px;
    bottom: 20px;
  }

  .vegan-icon-wd {
    width: 43px;
    height: 43px;
  }
}
