@import "./constants";

.back-link-container {
  margin: 0 0 1em 2em;
  display: flex;
  align-items: center;
}

.back-link-text {
  @include text1-italic($color: $dark-olive);
  margin-left: 0.5em;
}

.single-wine-header {
  display: flex;
  padding: 0 2em 1.5em 2em;
  box-sizing: border-box;
  // height: 135px;
}

.single-wine-title-bold {
  @include h3-bold;
  margin: 0;
}

.single-wine-title-regular {
  @include h3-regular($color: $black-gray);
}

.single-wine-price {
  @include tag-price-big;
  @include text-bold($color: white);
  color: white;
  align-self: flex-end;
}

.product-img-container {
  margin: 0 auto 1.5em auto;
  width: 85vw;
  height: 85vw;
  position: relative;
}

.product-img {
  object-fit: cover;
  width: 100%;
  height: 100%;
  border-radius: 20px;
  display: block;
}

.vegan-icon-container-wd {
  @include vegan-icon-big;
  position: absolute;
  left: 16px;
  bottom: 16px;
}

.vegan-icon-wd {
  width: 34px;
  height: 34px;
}

.wine-description-container {
  background-color: white;
  margin: 1em 1em;
  border-radius: 20px;
  padding: 1em;
  box-sizing: border-box;
  display: flex;
  position: relative;
}

.wine-description-column-left {
  width: 50%;
  padding-right: 0.5em;
  box-sizing: border-box;
}

.section-title-wd {
  @include text-bold($color: $black-gray);
  margin: 0;
}

.values-wd {
  @include tag-filter($color: $light-gray);
  @include text2-regular($color: $black-gray);
  margin: 0;
}

.values-list-wd {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
}

.values-list-items-wd {
  @include tag-filter($color: $light-gray);
  @include text2-regular($color: $black-gray);
  margin: 0.5em 0.5em 0 0;
}

.section-small-wd {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1em;
}

.divider-vertical {
  @include divider-vertical;
  position: absolute;
  left: 50%;
  top: 1em;
  bottom: 1em;
}

.wine-description-column-right {
  width: 50%;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.section-title-right-wd {
  @include text-bold($color: $black-gray);
  margin: 0 0 1em 0;
  text-align: center;
}

.scale-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 1.2em;
  width: 100%;
  @include text2-regular($color: $black-gray);
}

.scale-container > * {
  width: 33%;
}

.scale-text-right-aligned {
  text-align: right;
  margin-right: 0.5em;
}

.scale-text-left-aligned {
  margin-left: 0.5em;
}

// Customizing the Rating component from Material-UI

.MuiRating-root {
  font-size: 1.2em;
  justify-content: center;
  color: $burgundy;
}

.MuiRating-icon {
  margin: 0 -0.15em;
}

.MuiRating-iconEmpty {
  color: $light-gray;
}
